/*=========================================
フッター
=========================================*/
.ly-footer{
    width: 100%;
    background-color: gray;
    color:white;
    padding:30px 15px;
    text-align: center;
}